@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(18,21,32);
}


.container-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    
}

.container-div:hover {
    background-image: linear-gradient(to right, rgba(112,157,255,0.8), hsla(242,74%, 61%, 0.8) )!important ;
}

.super-border {
    border: 1px solid orange;
    border-radius: 25px;
    height: 50px;
    width: 100%;
}